$white: #fff;
$black: #000;

.App {
  text-align: center;
  color: $white;
  background-color: $black;
}

.footer-wrapper {
  border-top: 1px solid $white!important;
  background-color: $black;
  color: $white;
  position: relative;
  left: 0;
  bottom: 0;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
}

