$black: #000;

.Signup, 
.modals {
    .custom-select, 
    .form-control,
    .custom-control-label::before {
        background-color: transparent !important;
        border-radius: 0px; 
    }

    .btn {
        border-radius: 0px;
        border: 1px solid #fff;
        color: #fff;

        &:hover {
            color: #fff;
        }
    }
}