$black: #000;
$white: #fff;
$body-background: linear-gradient(#000000, #110f27, #000000);
$carousel-shadow: 2px -1px 20px 20px #655e5f;

%center-block {
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
}

.Home {
    min-height: calc(100vh - 60px);
    @extend %center-block;
    background-image: $body-background;

    h1 {
        min-height: 120px;
    }

    .carousel {
        @extend %center-block;
        min-height: 20vh;
        box-shadow: $carousel-shadow;
    
        h1 {
            @extend %center-block;
            color: $white;
        }
    }
}



