$carousel-shadow: 2px -1px 20px 20px #655e5f;   
    
.modals {
        /* Overlay */
        .centeredOverlay {
            position: absolute;
            border-radius: 12px;
            background-image: linear-gradient(#000000, #110f27, #000000);
            top:0;
            left:0;
            width:100%;
            height:100%;
            color:black;
            z-index: 1021;
            align-items: center;
            text-align: center;
            align-content: center;
            display: flex;
            justify-content: center;
        }
    
        .existing-user {

            .modal-header {
                border-bottom: none;

                .close {
                    color: #fff;
                }
            }

            & .modal-title {
               position: absolute!important;
               color: #fff; 
            }
    
            &.modal-content {
                background-color: transparent;
                border-radius: 0px;
                border: none;
                box-shadow: $carousel-shadow;

                .modal-body {
                    text-align: left;
                    
                    .btn {
                        border-radius: 0px;
                        border: 1px solid #fff;
                        color: #fff;
                    }
                }
            }

            .modal-footer {
                border-top: none;
                color: #fff;
            }
        }
}
