$black: #000;
$white: #fff;
$navbar-radiant: radial-gradient(#110f27, #000000);
$navbar-shadow: #130042;

%nav-links {
    margin-right: 1rem !important;
    display: flex !important;
    align-items: center !important;
}

#nav {
    background-image: $navbar-radiant;
    box-shadow: 2px -1px 20px 11px $navbar-shadow;

    nav {
        background-color: transparent !important;
        justify-content: space-between;
        padding-bottom: 1rem;
        padding-top: 1rem;

        .navbar-brand {
            color: $white;
        }
    
        .navbar-collapse.collapse {
            transition: height 3s;
        }
        .navbar-collapse.collapsing {
            transition: height 0.35s;
            height: 0 !important;
        }
        .navbar-collapse.collapse.show {
            transition: height 0.35s;
            max-height: none;
            height: 80vh !important;
        }
        
        .navbar-collapse {
            flex-grow: 0 !important;
        }
    
        ul li {
            @extend %nav-links;
    
            @media(max-width: 991px) {
                justify-content: center;
                font-size: xx-large;
            }

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    
        ul li a{
            color: $white;
            white-space: nowrap;
        }
    
        button.navbar-toggler:focus { 
            outline: 1px none; 
        }
        
        .icon-bar {
            width: 22px; 
            height: 2px;
            background-color: $white;
            display: block;
            transition: all 0.2s;
            margin-top: 4px
        }
        
        .navbar-toggler {
            border: none;
            background: transparent !important;
        }
        
        .navbar-toggler .top-bar {
            transform: rotate(45deg);
            transform-origin: 10% 10%;
        }
        
        .navbar-toggler .middle-bar {
            opacity: 0;
        }
        
        .navbar-toggler .bottom-bar {
            transform: rotate(-45deg);
            transform-origin: 10% 90%;
        }
        
        .navbar-toggler.collapsed .top-bar {
            transform: rotate(0);
        }
        
        .navbar-toggler.collapsed .middle-bar {
            opacity: 1;
        }
        
        .navbar-toggler.collapsed .bottom-bar {
            transform: rotate(0);
        }
    }
}

.active{
    color:red !important;
}

.custom-nav {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center !important;
    height: 80vh;
}

.main-nav {
    position: fixed !important;
    height: 100% !important;
    width: -webkit-fill-available !important;
}
